.title {
  width: 100%;
  padding: 170px 0;
  margin: 0 auto;
  background-image: url(../../images/photo.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 50px;
}

.title__title {
  font-weight: 300;
  font-size: 48px;
  text-transform: uppercase;
  color: #FFF;
  margin: 0;
}

.title__title_bold {
  font-weight: bold;
}

.title__text {
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: #FFF;
  margin: 0;
}
